<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yelpcamp</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <!-- <p>welcome to yelpcamp</p> -->
