img {
    width: 30%;
    margin : 1.66%;
    float: left; /* gets rid of browser added margin paddings */
}

p {
    font-family: 'Roboto', sans-serif;
    margin-left: 1.66%;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid lightgrey;
    width: 30%;
    padding-bottom: 20px;
}