body {
    padding-top: 4rem;
}

.jumbotron {
    color: #2c3e50;
    background-color: green;
    text-align: center;
}

.navbar-light {
    background: #2c3e50;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand {
     color: white;
}