body {
    border: 20px solid lightgrey;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    color: darkblue;
    font-size: 2.0rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #last {
    border-bottom: 1px solid lightgray;
    padding: 4px;
} */
.blog {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.date {
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    color: lightskyblue;
    letter-spacing: 0.2rem;
}

.p1 {
    border-left: 5px solid lightgrey;
    padding-left: 5px;
}