<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>This is the YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <img src="<%= campground.image %>" alt="camp-img" class="card-img-top">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %> 
    </div>
</div>


<% include partials/footer %>