<% include partials/header%>

<h1>create a new campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" id="" placeholder="name">
    <input type="text" name="image" id="" placeholder="image url">
    <button type="submit">Submit</button>
</form>


<a href="/campgrounds">go back</a>
<% include partials/footer%>