body {
    width: 50%;
    margin: 0 auto;
}

h1, .rules {
    text-align: center;
}

.game-ux, .paras {
    text-align: center;
}

.lastResult {
    color: white;
}

.paras p {
    padding: 3px;
    /* border: 1px red solid; */
}