html {
    height: 120%;
}

body {
    /* padding-top: 4rem; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e6aacd;
    background-image: url(https://images.unsplash.com/photo-1495434942214-9b525bba74e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8e355fb2d627e640eef69c4ee07c17b&auto=format&fit=crop&w=1950&q=80);
    background-size: cover; 
    background-position: center;
}
.content {
    /* width: 50%; */
    /* margin: 4rem auto; */
    padding-top: 30%;
    text-align: center;
    text-shadow: 0px 4px 3px red,
                 0px 8px 13px orange;
    
}

h1 {
    font-size: 5em;
}

hr {
    width: 35%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* .jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
    text-align: center;
} */

/* .navbar-light {
    background: #2c3e50;
} */

.navbar-light {
    background: #e9e9e9;
}

/* .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand {
     color: white;
} */